.equiwidth {
	text-align: justify;
	line-height: .5em;
	padding-top: .25em;
	line-height: 0;
 
	* {
		display: inline;
	}
 
	li {
		display: inline-block !important;
		width: auto!important;
 
		a {
			margin: 0;
			line-height: 1em;
		}
	}
 
	&:after {
		content: '';
		width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
		display: inline-block;
	}
}

/* Fixes styling issues with recaptcha and Foundation */
#recaptcha_area input[type="text"] {
	display: inline-block;
	height: auto!important;
}

//mixins
@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
	text-shadow: $x $y $blur $color;
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:"") {
	-webkit-box-shadow:$top $left $blur $spread $color #{$inset};
	-moz-box-shadow:$top $left $blur $spread $color #{$inset};
	box-shadow:$top $left $blur $spread $color #{$inset};
}

@mixin multi-box-shadow($shadow1, $shadow2:false, $shadow3:false) {
	$shadows: $shadow1;
	@if $shadow2 { $shadows: $shadow1, $shadow2; }
	@if $shadow3 { $shadows: $shadow1, $shadow2, $shadow3; }
	-webkit-box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	box-shadow: $shadows;
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin opacity($value){
	$IEValue: $value*100;
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
	filter: alpha(opacity=$IEValue);
	-moz-opacity: $value;
	-khtml-opacity: $value;
}

// flex box
@mixin display-flex() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-direction($val) {
	-webkit-flex-direction: $val;
	-ms-flex-direction: $val;
	flex-direction: $val;
}

@mixin flex-wrap($val) {
	-webkit-flex-wrap: $val;
	-ms-flex-wrap: $val;
	flex-wrap: $val;
}

@mixin justify-content($val) {
	-webkit-justify-content: $val;
	-ms-flex-pack: $val;
	justify-content: $val;
}

@mixin align-content($val) {
	-webkit-align-content: $val;
	-ms-flex-line-pack: $val;
	align-content: $val;
}

@mixin align-items($val) {
	-webkit-align-items: $val;
	-ms-flex-align: $val;
	align-items: $val;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex:  $values;
	-webkit-flex:  $values;
	-ms-flex:  $values;
	flex:  $values;
}

@mixin order($val) {
	-webkit-box-ordinal-group: $val;  
	-moz-box-ordinal-group: $val;     
	-ms-flex-order: $val;     
	-webkit-order: $val;  
	order: $val;
}