@import "normalize";
@import "bourbon";
@import "gravityforms";
@import "wordpress";
@import "fontawesome";

// variables
$darkGrey: #303b41;
$liteGrey: #bdbcc1;
$turq: #67c0be;
$blue: #2763aa;
$darkBlue: #1B51A2;

$linkColor: $blue;
$linkHover: darken($linkColor, 20%);
$buttonHover: #6EC8BD;
$fontColor: #333;

$fontFamily: 'Roboto Condensed', sans-serif;

$radius: 5px;

@import "cw-grid";
@import "cw-custom"; // This is where we can put custom mixins and classes
@import "bxslider";
@import "lightbox";
// @import "cw-accordion";
@import "cw-slides";
@import "cw-columns";

html, body {
	margin: 0;
	padding: 0;
	color: $fontColor;
	box-sizing: border-box;
	font-family: $fontFamily;
	font-weight: 100;
	font-size: 20px;
	height: 100%;
}

body {
	position: relative;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-attachment: fixed;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	height: 100%;
	width: 100%;

	// &.mobile-nav-open {
	// 	position: fixed;
	// 	overflow: hidden;
	// }

	&.admin-bar {
		padding-top: 46px;
	}
}

* {
	outline: none!important;
	
	&:hover,
	&:focus {
		outline: none!important;
	}
}

pre {
	position: relative;
	padding: 15px;
	font-size: 10px;
	background-color: rgba(175, 175, 175, .1);
	margin: 15px;
	word-wrap: break-word;
	@include box-shadow(0, 0, 0, 1px, rgba(0, 0, 0, .1));
}

img {
	max-width: 100%;
	height: auto;
}

// reference clases
.vertcent {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

.horzcent {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
}

.absocent {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}

.smoothfont {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//typography
$h2Size: 60px;

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $fontFamily;
	font-weight: 400;

	&.page-title {
		line-height: 1.2;
		margin-bottom: 15px;
		font-size: 40px;
		font-weight: 100;
	}

	&.page-subtitle {
		font-weight: 100;
	}
}

h1 {
	font-size: 1em;

	&.tribe-events-single-event-title {
		font-size: $h2Size;
	}
}

h2 {
	font-size: $h2Size;

	&.home-pagetitle {
		line-height: 1.2;
		margin-bottom: 15px;
		font-size: 40px;
		font-weight: 100;
	}
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1.125em;
}
h6 {
	font-size: 1em;
}

p, li  {
	font-size: 20px;
	color: $fontColor;
}

p {
	margin: 0 0 1em 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	&.inline {
		li {
			display: inline-block;
		}
	}
}

a {
	color: $linkColor;
	@include transition(.25s);
	text-decoration: none;

	&:hover {
		color: $linkHover;
		@include transition(.25s);
		text-decoration: none;
	}
}

// ::-webkit-input-placeholder {
//    color: #fff;
// }

// :-moz-placeholder { /* Firefox 18- */
//    color: #fff;
// }

// ::-moz-placeholder {  /* Firefox 19+ */
//    color: #fff;
// }

// :-ms-input-placeholder {  
//    color: #fff;
// }

$inputBg: #fff;

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="password"],
input[type="tel"],
input[type="button"],
select,
textarea {
	border: 0;
	outline: none!important;
	-webkit-appearance: none;

	.gform_wrapper & {
		border: 0!important;
	}
}

input[type="submit"], input[type="button"], button, .button {
	display: inline-block;
	background-color: $linkColor;
	color: #fff;
	padding: 10px 20px;
	@include transition(.25s);
	@include border-radius($radius);
	cursor: pointer;

	&.v2 {
		padding: 6px 9px 5px 9px;
		background-color: #ccc;
		@include border-radius(0);
		font-size: 11px;

		&:hover {
			background-color: #666;
		}
	}

	&.large {
		padding: 30px 40px;
		margin: 0 15px 15px 0;
	}

	.page-id-30 & {
		margin-bottom: 15px;
	}

	.home & {
		&.large {
			width: 100%;
			font-size: 30px;
			max-width: 350px;
			background-color: rgba(#214289, .75);
			@include border-radius(0);
			line-height: 1.2;
			font-weight: 100;
			// margin: 0 10px 15px;
		}

		&:hover {
			&.large {
				background-color: #fff;
				color: $linkColor;
			}
		}
	}

	&.small {
		padding: 5px 10px;
		font-size: 12px;
	}

	&:hover {
		color: #fff;
		background-color: $buttonHover;
		@include transition(.25s);
	}
}

input[type="file"] {

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
	@include box-shadow(0, 0, 0, 1px, rgba(0, 0, 0, .5));
	@include transition(.25s);
	padding: 10px;
	background-color: $inputBg;
	line-height: 1.3;

	&:hover, &:focus {
		@include box-shadow(0, 0, 0, 4px, rgba(0, 0, 0, .5));
		@include transition(.25s);
	}

	.gform_wrapper & {
		padding: 10px!important;
		line-height: 1.3!important;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"], {

}

textarea {

}

select {
	border-radius: 0;
	background-image: url(../img/select-down.png);
	background-position: right 10px center;
	background-size: 10px 5px;
	background-repeat: no-repeat;
	background-color: $inputBg;

	&[multiple="multiple"] {
		background: none;
		background-color: $inputBg;
	}

	&.ui-datepicker-month,
	&.ui-datepicker-year {
		background: none;
		@include box-shadow(0, 0, 0, 0, $fontColor);

		&:hover, &:focus {
			@include box-shadow(0, 0, 0, 0, $fontColor);
		}	
	}
}

// .off-canvas-wrap {
// 	position: relative;
// 	width: 100%;
// 	clear: both;
// 	overflow: hidden;
// 	-webkit-backface-visibility: hidden;

// 	.off-canvas-wrap-inner {
// 		position: relative;
// 		top: 0;
// 		width: 100%;
// 		// @include transform(translate3d(0, 0, 0));
// 		@include transform(translateX(0));
// 		@include transition(.5s);
// 		overflow: visible;
// 	}

// 	.mobile-nav-open & {
// 		min-height: 100%;
// 		-webkit-overflow-scrolling: touch;

// 		.off-canvas-wrap-inner {
// 			// @include transform(translate3d(75vw, 0, 0));
// 			@include transform(translateX(-75vw));
// 			@include transition(.5s);
// 		}
// 	}
// }

// header and nav
[role=banner] {
	position: relative;
	z-index: 10;
	@include linear-gradient(to right, $turq, $blue);
	margin-bottom: 30px;

	.home & {
		margin-bottom: 0;
		background: none;
	}

	.header-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		svg {
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
			height: 100%;
			fill: $darkBlue;

			* {
				fill: $darkBlue;
			}
		}
	}

	.page-header {
		position: relative;
		z-index: 2;
		padding: 0 0 30px 0;
		min-height: none;

		* {
			color: #fff;
		}

		.page-subtitle {
			max-width: 100%;
		}
	}

	.flx-cont {
		position: relative;
		@include display-flex();
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(space-between);
	}

	.logo {
		position: relative;

		svg {
			width: 100px;
			height: auto;

			* {
				fill: #fff!important;
			}
		}
	}

	// nav
	.menu-toggle {
		position: relative;
		display: inline-block;
		cursor: pointer;
		height: 40px;
		width: 40px;

		.fa-bars {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translateX(-50%) translateY(-50%));
			color: #fff;
		}
	}

	// .menu-close {
	// 	position: absolute;
	// 	display: block;
	// 	cursor: pointer;
	// 	height: 40px;
	// 	width: 40px;
	// 	top: 0;
	// 	right: -40px;
	// 	z-index: 9999;

	// 	.fa-times {
	// 		position: absolute;
	// 		top: 50%;
	// 		left: 50%;
	// 		color: #fff;
	// 		@include transform(translateX(-50%) translateY(-50%));
	// 	}
	// }

	// .mobile-nav-open & {
	// 	.cw-nav-cont {
	// 		[role="navigation"] {
	// 			.menu {
	// 				@include box-shadow(0, 0, 0, 200vh, rgba(255, 255, 255, .5));
	// 			}
	// 		}
	// 	}
	// }

	.cw-nav-cont {
		position: relative;
		z-index: 3;
		padding: 15px 0;

		[role="navigation"] {
			.menu {
				position: absolute;
				display: none;
				top: 100%;
				left: 0;
				width: 100%;
				// height: 0;
				overflow: hidden;
				@include flex-direction(column);
				// @include transition(.5s);
				background-color: $darkGrey;
				margin: 0;
				padding: 0 15px;
				z-index: 1;
				visibility: hidden;

				&.mobnav {
					visibility: visible;
				}

				// &.open {
				// 	visibility: visible;
				// 	height: auto;
				// 	@include transition(.5s);
				// }

				.menu-item {
					position: relative;
					display: block;
					margin-right: 0;
					margin-bottom: 5px;
					@include box-shadow(0, 1px, 0, 0, rgba(#fff, .5));

					&.menu-item-has-children {
						&:after {
							position: absolute;
							display: block;
							content:"\f078";
							font-family: 'FontAwesome';
							right: 10px;
							color: rgba(#fff, .5);
							font-size: .75em;
							line-height: 1;
							top: 10px;
							// @include transform(translateY(-50%));
						}
						
					}

					&:last-child {
						margin-right: 0;
						margin-bottom: 15px;
					}

					&:first-child {
						margin-top: 15px;
					}

					&:hover {
						>a {
							
						}

						>.sub-menu {
							display: block;
						}
					}

					&.current-menu-item {
						>a {
							
						}
					}

					>a {
						color: #fff;
					}

					.sub-menu {
						position: relative;
						display: block;
						top: auto;
						left: auto;
						margin: 0;
						padding: 0;
						background-color: transparent;
						z-index: 9999;

						.menu-item {
							display: block;

							a {
								display: inline-block;
								white-space: nowrap;
								padding: 5px 10px;
							}
						}
					}
				}
			}
		}
	}
}

.sidenav-parents {
	margin-bottom: 50px;

	.home & {
		display: none;
	}

	.page-id-176 &, .page-id-186 & {
		.sidenav {
			li {
				&.page-item-20 {
					a {
						color: $fontColor;
						font-weight: 400;
						@include box-shadow(0, 2px, 0, 0, $blue);
					}
				}
			}
		}
	}

	.single-staff & {
		.sidenav {
			li {
				&.page-item-12 {
					a {
						color: $fontColor;
						font-weight: 400;
						@include box-shadow(0, 2px, 0, 0, $blue);
					}
				}
			}
		}
	}

	.single-contests & {
		.sidenav {
			li {
				&.page-item-303 {
					a {
						color: $fontColor;
						font-weight: 400;
						@include box-shadow(0, 2px, 0, 0, $blue);
					}
				}
			}
		}
	}

	.single-galleries & {
		.sidenav {
			li {
				&.page-item-36 {
					a {
						color: $fontColor;
						font-weight: 400;
						@include box-shadow(0, 2px, 0, 0, $blue);
					}
				}
			}
		}
	}

	.sidenav {
		@include box-shadow(0, 1px, 0, 0, $liteGrey);

		li {
			display: inline-block;
			margin-right: 15px;
			color: $liteGrey;

			a {
				color: $liteGrey;
				display: inline-block;
				@include box-shadow(0, 0, 0, 0, $liteGrey);

				&:hover {
					color: $fontColor;
					@include box-shadow(0, 2px, 0, 0, $blue);
				}
			}

			&.current_page_item, &.current_page_ancestor, &.current_page_parent {
				a {
					color: $fontColor;
					font-weight: 400;
					@include box-shadow(0, 2px, 0, 0, $blue);
				}
			}
		}
	}
}

// cwtabs
.cwtabs-container {
	position: relative;
	@include transition(.5s);
	overflow: hidden;
}

.cwtab-header {
	cursor: pointer;
}

.tab-content {
	visibility: hidden;
	@include opacity(0);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 15px;
	width: 100%;
	@include transform(translateY(25%));
	@include transition(.5s);

	ul {
		margin-top: 0;
	}

	&.active_content {
		visibility: visible;
		@include opacity(1);
		@include transform(translateY(0));
		@include transition(.5s);
	}
}

// main content
[role="main"] {
	position: relative;
	margin-bottom: 30px;
	z-index: 1;
	
	&.galleries {
		.galleries-cont {
			@include display-flex();
			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include justify-content(flex-start);
			@include align-items(flex-start);
			@include align-content(flex-start);

			.gallery-listing {
				position: relative;
				margin-bottom: 30px;

				.contents {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					padding: 15px 30px;

					* {
						color: #fff;
						@include text-shadow(0, 0, 5px, rgba(0, 0, 0, .5));
					}
				}
			}
		}
	}

	.gallery-thumbnails {
		@include display-flex();
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);
		@include align-items(flex-start);
		@include align-content(flex-start);

		.gallery-thumb {
			margin-bottom: 30px;

			img {
				display: block;
			}
		}
	}

	.home & {
		margin-bottom: 0;
		padding: 100px 0;

		p, a, li, h1, h2, h3, h4, h5, h6 {
			color: #fff;
			@extend .smoothfont;
		}

		.limit {
			max-width: 100%;
		}
	}

	.page-id-138 & {
		p {
			padding: 15px;
		}

		p:nth-child(even) {
			background-color: #f4f4f4;
		}
	}

	.blog & {
		article.post {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: solid 1px #ccc;

			.entry-content {
				@include display-flex();
				@include flex-direction(column);
				@include justify-content(flex-start);
				@include align-items(flex-start);
				@include align-content(center);

				.img-cont {
					width: 100%;
					margin-right: 15px;

					img {
						display: block;
						margin: 0;
					}
				}
			}
		}
	}
}

.staff-header {
	@include display-flex();
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(flex-start);
	@include align-items(flex-end);
	@include align-content(flex-start);
	margin-bottom: 60px;

	img {
		display: block;
	}
}

.staff-container {
	@include display-flex();
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(flex-start);
	@include align-items(flex-start);
	@include align-content(flex-start);

	.staff-content {
		margin-bottom: 30px;

		.staff-title {
			line-height: 1;
		}
	}
}

// sidebar
[role="complementary"] {
	.widget {
		margin-bottom: 30px;
	}

	.sidenav {
		margin-bottom: 30px;

		li {
			a {
				color: $liteGrey;
				display: block;

				&:hover {
					color: $fontColor;
				}
			}

			.children {
				li {
					a {
						color: $liteGrey;
						display: block;

						&:hover {
							color: $fontColor;
						}
					}
				}
			}

			&.current_page_item {
				a {
					color: $fontColor;
					font-weight: 400;
				}
			}
		}
	}
}

// footer
[role="contentinfo"] {
	background-color: $darkGrey;
	padding: 70px 0;

	.home & {
		display: none;
	}

	.logo {
		svg {
			width: 100px;
			height: auto;

			* {
				fill: #fff!important;
			}
		}
	}

	* {
		color: #fff;
	}

	.flx-cont {
		@include display-flex();
		@include flex-direction(column);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		margin-bottom: 30px;
	}

	[role="navigation"] {
		.footer-menu {
			@include display-flex();
			@include flex-direction(column);
			@include align-items(flex-start);
			@include flex-wrap(wrap);
			@include justify-content(center);

			> li {
				display: inline-block;

				> a {
					font-weight: 400;
				}
			}

			li {
				margin-top: 5px;

				&:first-child {
					margin-top: 0;
				}

				a {
					color: #fff;
					padding: 10px 20px 10px 0;
					@extend .smoothfont;
				}

				.address {
					margin-bottom: 15px;

					p {
						font-weight: 100;
						font-size: 14px;
						line-height: 1.3;
						padding: 0 20px 0 0;
						margin-top: 2px;

						a {
							padding: 0;
						}
					}
				}

				.sub-menu {
					@extend .styleless;
					display: none;

					> li:last-child {
						margin-bottom: 10px;
					}

					li {
						line-height: 1;

						a {
							display: block;
							padding: 4px 20px;
							font-weight: 100;
							font-size: 14px;
							line-height: 1;
						}
					}
				}
			}
		}
	}

	.copy {
		text-align: center;
	}

	.cw {
		text-align: center;
	}
}

// search
[role="search"] {
	position: relative;
	z-index: 9999;

	input[type="text"] {
		width: 100%;
	}

	.search-results {
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background-color: #fff;
		@include box-shadow(0, 5px, 10px, 0, rgba(0, 0, 0, .5));

		.close {
			position: absolute;
			top: -27px;
			right: 10px;
			cursor: pointer;
		}

		.result, .more-results, .no-results {
			padding: 2px 10px;
		}

		.loading {
			position: absolute;
			right: 0;
			top: -27px;
			width: auto;
			text-align: right;
			padding: 0 15px;
			@include opacity(.5);
		}

		.more-results {
			background-color: #333;
			color: #fff;
			display: block;
		}

		.result {
			position: relative;

			a {
				display: block;
			}

			&:hover {
				&:after {
					height: 4px;
					@include transition(.25s);
				}
			}

			&:after {
				position: absolute;
				display: block;
				content: '';
				background-color: #333;
				left: 0;
				top: 100%;
				width: 100%;
				height: 0;
				@include transition(.25s);
			}
		}
	}
}

// tribe events overrides
.tribe-events-schedule h2 {
	font-size: 16px;
}

// gravity forms overrides
.gform_wrapper .ginput_complex.ginput_container {
	overflow: visible!important;
}

// vertical centering, the flexbox way
// for ie10 and lower, you'll need to use the conditional in cw-main.js
.eqh-row {
	display: flex;
	flex-direction: row;
	align-items: center;

	html[data-useragent*='MSIE 10.0'] & {
		position: relative;
		display: block;

		.eqh-inner {
			position: relative;
			top: 0;
			@include transform(translateY(0));
		}
	}
}

// misc stuff, specific stuff, global stuff
.back-to-top {
	position: fixed;
	bottom: 15px;
	left: 50%;
	@include transform(translateX(-50%) translateY(100%));
	@include opacity(0);
	@include transition(.5s);
	z-index: 999;
	width: 45px;
	height: 45px;
	@include border-radius(45px);
	background-color: #fff;
	text-align: center;
	@include box-shadow(0, 5px ,10px, -3px, rgba(0, 0, 0, .5));
	cursor: pointer;

	i {
		display: block;
		@extend .horzcent;
		top: 50%;
		margin-top: -12.5px;
		color: $fontColor;
	}

	&.show {
		@include transform(translateX(-50%) translateY(0));
		@include opacity(1);
		@include transition(.5s);		
	}
}

.image-button {
	display: inline-block;
	margin: 0 15px 15px 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;

	span {
		@extend .absocent;
		z-index: 3;
		color: #fff;
		@include opacity(1);
		@include transition(.25s);
	}

	img {
		position: relative;
		display: block;
		z-index: 1;
	}

	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#333, .75);
		@include transition(.25s);
		z-index: 2;
	}

	&:hover {
		span {
			@include opacity(0);
			@include transition(.25s);
		}

		&:before {
			background-color: rgba(#333, 0);
			@include transition(.25s);
		}
	}
}

.next-post {
	text-align: right;
}

.press-release {
	padding: 15px;
	margin-bottom: 15px;
	word-wrap: break-word;

	.title {
		border-bottom: solid 1px #ccc;
		margin-bottom: 10px;
	}

	&:nth-child(even) {
		background-color: #f4f4f4;
	}
}

table {
	tr.bg, tr:nth-child(even) {
		background-color: #f4f4f4;
	}

	td, th {
		padding: 10px;
	}
}

.gallery {
	// @include display-flex();
	// @include flex-direction(row);
	// @include justify-content(space-between);
	// @include align-content(center);

	.gallery-item {
		width: auto;
	}
}

.gallery-caption {
	font-size: .75em;
	text-align: left;
}

.gallery-icon a {
	position: relative;
	display: inline-block;
	padding: 0 10px;

	img {
		display: block;
	}

	&:after {
		position: absolute;
		display: block;
		content:"\f067";
		font-family: 'FontAwesome';
		background-color: rgba(0, 0, 0, .5);
		color: #fff;
		width: 18px;
		height: 18px;
		padding: 10px;
		right: 10px;
		line-height: 1;
		bottom: 0;
		@include transition(.25s);
	}

	&:hover {
		&:after {
			background-color: rgba(0, 0, 0, .75);
			@include transition(.25s);
		}
	}
}

.ng-hide, .ng-cloak {
	display: none!important;
}

.pagination {
	clear: both;
	padding: 20px 0;
	position: relative;
	font-size: 11px;
	line-height: 13px;
}
 
.pagination span, .pagination a {
	display: block;
	float: left;
	margin: 2px 2px 2px 0;
	padding: 6px 9px 5px 9px;
	text-decoration: none;
	width: auto;
	color: #fff;
	background: #ccc;
}
 
.pagination a:hover{
	color: #fff;
	background: #666;
}
 
.pagination .current{
	padding: 6px 9px 5px 9px;
	background: #000;
	color: #fff;
}


.cff-likebox {
	margin-left: 0!important;
}

.visually-hidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px;
	width: 1px; 
	margin: -1px;
	padding: 0;
	border: 0; 
	top: 0;
	left: 0;
	@include opacity(0);
}

// .video-container {
// 	position: relative;
// 	padding-bottom: 56.25%; /* 16:9 */
// 	padding-top: 25px;
// 	height: 0;

// 	iframe {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	}
// }

// .hours {
// 	max-width: 40em;
// 	padding: 0;
// 	overflow-x: hidden;
// 	list-style: none;

// 	li {
// 		&:before {
// 			float: left;
// 			width: 0;
// 			white-space: nowrap;
// 			content:
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . "
// 			". . . . . . . . . . . . . . . . . . . . ";
// 		}

// 		.day-name {
// 			padding-right: 0.33em;
// 			background: white;
// 		}

// 		.open-close {
// 			float: right;
// 			padding-left: 0.33em;
// 			background: white;
// 		}
// 	}
// }

.logo {
	a {
		display: inline-block;
	}
}

.gf_captcha {
	display: none;
}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

@media all and (min-width: 640px) {
	h1, h2, h3, h4, h5, h6 {
		&.page-title {
			font-size: 60px;
		}
	}
	h2 {
		&.home-pagetitle {
			font-size: 60px;
		}
	}

	[role=banner] {
		margin-bottom: 100px;

		.home & {
			.page-header {
				min-height: none;
			}
		}

		.page-header {
			padding: 50px 0;
			min-height: 475px;

			&.inside-page {
				min-height: 150px;
			}

			&.post-header {
				min-height: 200px;
			}

			.page-subtitle {
				max-width: 75%;
			}
		}
		
		.flx-cont {
			@include flex-direction(row);
		}

		.menu-toggle {
			display: none;
		}

		.menu-close {
			display: none;
		}

		.cw-nav-cont {
			[role="navigation"] {
				.menu {
					display: block;
					position: relative;
					width: auto;
					height: auto;
					left: auto;
					@include flex-direction(row);
					background-color: transparent;
					margin: 0;
					top: auto;
					padding: 0;
					overflow: visible;
					visibility: visible;

					&.mobnav {
						visibility: hidden;
					}

					&.open {
						width: auto;
					}

					.menu-item {
						display: inline-block;
						margin-right: 15px;
						margin-bottom: 0;
						@include box-shadow(0, 0, 0, 0, rgba(#fff, 0));

						&.menu-item-has-children {
							&:after {
								display: none;
							}
						}

						&:hover {
							>a {
								
							}

							 >.sub-menu {
								display: block;
							}
						}

						&.current-menu-item {
							>a {
								
							}
						}

						>a {
							font-weight: 400;
						}

						.sub-menu {
							position: absolute;
							display: none;
							top: 100%;
							left: 0;
							margin: 0;
							padding: 0;
							background-color: rgba($blue, .75);

							.menu-item {
								display: block;

								a {
									display: inline-block;
									white-space: nowrap;
									padding: 5px 10px;
								}
							}
						}
					}
				}
			}
		}
	}
	// main content
	[role="main"] {
		margin-bottom: 100px;

		.home & {
			.limit {
				max-width: 80%;
			}
		}

		.blog & {
			article.post {
				.entry-content {
					@include align-items(center);
					@include flex-direction(row);
				}
			}
		}
	}

	// footer
	[role="contentinfo"] {
		.flx-cont {
			@include align-items(flext-start);
			// @include flex-direction(row);
		}

		[role="navigation"] {
			.footer-menu {
				@include flex-direction(row);

				li {
					margin-top: 0;

					a {
						padding-left: 10px;
					}


					.address {
						p {
							padding: 0 10px;
						}
					}
					.sub-menu {
						display: block;
						> li:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.copy {
			text-align: left;
		}

		.cw {
			text-align: right;
		}
	}

	// vertical centering, the flexbox way
	// for ie10 and lower, you'll need to use the conditional in cw-main.js
	.eqh-row {
		html[data-useragent*='MSIE 10.0'] & {
			.eqh-inner {
				top: 50%;
				@include transform(translateY(-50%));
			}
		}
	}
}

@media all and (min-width: $medWidth) {
	// .off-canvas-wrap {
	// 	.off-canvas-wrap-inner {
	// 		overflow: hidden;
	// 		@include transform();
	// 	}
	// }

	[role="contentinfo"] {
		.flx-cont {
			@include flex-direction(row);
		}

		[role="navigation"] {
			.footer-menu {
				li {
					a {
						padding-left: 20px;
					}
					.address {
						p {
							padding: 0 20px;
						}
					}
				}
			}
		}
	}
}

@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
 @media print {
 	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
 	a, a:visited {  }
 	a[href]:after { content: " (" attr(href) ")"; }
 	abbr[title]:after { content: " (" attr(title) ")"; }
 	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
 	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
 	thead { display: table-header-group; }
 	tr, img { page-break-inside: avoid; }
 	img { max-width: 100% !important; }
 	@page { margin: 0.5cm; }
 	p, h2, h3 { orphans: 3; widows: 3; }
 	h2, h3 { page-break-after: avoid; }
 }